<!DOCTYPE html>
<html>
<head>
    <title>Components test</title>
</head>
<body>

    <div id="js-app">
        <div data-component="TodoComponent" data-state="{
            complete: state.bool,
            text: state.str
        }">
            <input type="checkbox" data-out="{ checked: state.complete }" />
            <span data-out="{ textContent: state.text }"></span>
        </div>
        <div data-component="TodoComponent" data-state="{
            complete: state.bool,
            text: state.str
        }">
            <div data-if="state.complete">googa mooga</div>
            <div data-if="state.complete">googa mooga</div>
        </div>
    </div>

    <script src="../../bower_components/requirejs/require.js"></script>
    <script>
        require([
            '../../src/Lib',
            '../../src/Component',
            './TodoComponent'
        ], function (
            Lib,
            Component,
            TodoComponent
        ) {

            var element = document.getElementById('js-app');

            // TODO: Think of a better way to do this
            Lib.componentMap['TodoComponent'] = TodoComponent;

            window.app = Lib.mount(element, Component, {
                bool: true,
                str: 'buy milk'
            });
        });
    </script>
</body>
</html>