<!DOCTYPE html>
<html>
<head>
    <title>Components test</title>
</head>
<body>

    <div id="js-app">
        <div data-component="TodoComponent" data-state="{ foo: state.one }">
            <span data-out="{ textContent: state.foo }"></span>
        </div>
    </div>

    <script src="../../bower_components/requirejs/require.js"></script>
    <script>
        require([
            '../../src/Lib',
            '../../src/Component',
            './TodoComponent'
        ], function (
            Lib,
            Component,
            TodoComponent
        ) {

            var element = document.getElementById('js-app');

            // TODO: Think of a better way to do this
            Lib.componentMap['TodoComponent'] = TodoComponent;

            window.app = Lib.mount(element, Component, {
                one:    'uno',
                two:    'due',
                three:  'tre'
            });
        });
    </script>
</body>
</html>